<div class="uk-background-default uk-rounded uk-padding uk-width-1-2">

    <div class="uk-padding-large uk-text-justify uk-text-secondary">
        <br>
        <h3 id="text"> Life isn’t about getting and having, it’s about giving and being. </h3>
        <p class="uk-text-right" id="author"> Kevin Kruse </p>
    </div> <hr class="uk-mute">

    <div class="uk-card-footer uk-flex uk-flex-middle flex-wrap uk-flex-between uk-padding-remove-top">
        <div>
            <a class="uk-button uk-secondary uk-enphasis uk-rounded-large" color uk-icon="icon:twitter" href="#"></a>
            <a class="uk-button uk-secondary uk-enphasis uk-rounded-large" color uk-icon="icon:facebook" href="#"></a>
            <a class="uk-button uk-secondary uk-enphasis uk-rounded-large" color uk-icon="icon:instagram" href="#"></a>
        </div>
        <button id="new-quote" class="uk-button uk-secondary uk-enphasis" color> new quote </button>
    </div>
    
</div>