
/°
(()=>{
	process.page = new Object();
	process.page.name = 'Random Quote Machine';
})();
°/
<!DOCTYPE html> <html lang="es">
	<head> <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./Assets/Module/UIkit.css">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<script src="./Assets/Module/UIkit.js"></script>
		<script src="./Assets/Module/Molly.js"></script>
		<link rel="stylesheet" href="./main.css">
		<script src="./main.js"></script>

		<title>/°process.page.name°/</title>
	</head>

	<body class="uk-flex uk-flex-middle uk-flex-center
				 uk-height-1-1 uk-padding-large
				 uk-background-secondary"
		  color>

		  <° ./comp/navbar.html °>
		  <° ./comp/main.html °>
		
	</body>	

</html>